---
export const prerender = true

import Layout from '../layouts/Layout.astro';
---
<Layout title="Index">
	<p>This is the index (prerendered)</p>
	<a href="/thispagedoesnotexist">404 page</a>
</Layout>
