---
export const prerender = true

import Layout from '../layouts/Layout.astro';
---
<Layout title="Index">
	Version: {Astro.generator}
	<p>
		This is the index (prerendered)
		<br>
		<a href="/thispagedoesnotexist">Broken 404 page <span>(works on Astro 2.9.6)</span></a>
		<br>
		<a href="/404">Working 404 page</a>
	</p>
</Layout>
